*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* PALETA DE COLORES https://color.adobe.com/search?q=dark */
body{
    font-family: 'Anonymous Pro', monospace;
    background-color: #262621;
    color:#BDBFAE;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 80px 0px 30px 0px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5em;
}
header p{
    font-size: 20px;
    letter-spacing: 0.2em;
}

.pads{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
       
}

.pads > div {
    height: 100px;
    width: 100px;
    flex-grow: 1;
    margin: 50px;
    
}

.pad1, .pad2, .pad3, .pad4, .pad5, .pad6 {
    background: #262621;
    border-style: solid;
    border-width: 6px;
}


@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

/* Responsive */
@media only screen and (max-width: 800px) {
    
    header h1 {
        margin: 40px 0px 30px 0px;
        padding-inline: 40px;
        font-size: 25px;
    }
    header p {
        padding-inline: 40px;
        font-size: 15px;
    }
    .pads > div {
        height: 50px;
        width: 50px;
        margin: 50px 30px;
    }
    .visual > div {
        height: 30px;
        width: 30px;
    }
}
@media only screen and (max-width: 600px) {    
    .pads{
        flex-direction: column;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .pads > div {
        height: 50px;
        width: 50px;
        margin: 5px 30px;
    }
    @keyframes jump {
            0% {
            left: 0%;
            bottom: 50%;
        }
            50% {
            left: 70%;
            bottom: 25%;
        }
            100% {
            left: 0%;
            bottom: 0%;
        }
    }
  }