*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* PALETA DE COLORES https://color.adobe.com/search?q=dark */
body{
    font-family: 'Anonymous Pro', monospace;
    background-color: #262621;
    color:#BDBFAE;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 80px 0px 30px 0px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5em;
}
header p{
    font-size: 20px;
    letter-spacing: 0.2em;
}

.pads{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
       
}

.pads > div {
    height: 100px;
    width: 100px;
    flex-grow: 1;
    margin: 50px;
    
}

.pad1, .pad2, .pad3, .pad4, .pad5, .pad6 {
    background: #262621;
    border-style: solid;
    border-width: 6px;
}


.visual {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: tomato;
    bottom: 50%;
    z-index: -1;
}
